[mysqld]
user				= mysql
port				= 3306
datadir				= /var/lib/mysql
socket				= /var/lib/mysql/mysql.sock
log_error			= /var/log/mysql/error.log
symbolic-links			= 0
bind-address			= 127.0.0.1
default-storage-engine		= InnoDB
character-set-server            = utf8
collation-server                = utf8_general_ci
init-connect                    = "SET NAMES utf8"
general_log_file		= /var/log/mysql/mysql_general.log
general_log			= 0

# BINARY LOGGING #
expire-logs-days		= 7
sync-binlog			= 1

# CACHES AND LIMITS #
tmp-table-size			= 32M
max-heap-table-size		= 32M
query_cache_limit		= 256K
query_cache_min_res_unit	= 2k
query-cache-type		= 1
query-cache-size		= 16M
join_buffer_size                = 128K
max-connections			= 1000
thread-cache-size		= 5000
open-files-limit		= 150000
table-definition-cache		= 1024
table-open-cache		= 50000

# MyISAM #
key-buffer-size			= 32M
myisam-recover-options		= FORCE,BACKUP

# INNODB #
innodb-flush-method		= O_DIRECT
innodb-log-files-in-group	= 2
innodb-log-file-size		= 256M
innodb-flush-log-at-trx-commit	= 0
innodb-file-per-table		= 1
innodb-buffer-pool-size		= 1G

# Slow REQUESTS #
slow-query-log			= 1
slow-query-log-file		= /var/log/mysql/mariadb-slow.log

# SAFETY #
skip-name-resolve
max-allowed-packet		= 16M
max-connect-errors		= 1000000

[mysqld_safe]
log-error			= /var/log/mysql/mysqld_safe_error.log
pid-file			= /var/run/mysql/mariadb.pid

[mysqldump]
quick
max_allowed_packet		= 64M


